<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.mapper.Test2Mapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.Test2" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="order_tIme" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="skuNo" property="skuno" jdbcType="BIGINT" />
    <result column="brandName" property="brandname" jdbcType="VARCHAR" />
    <result column="brandCode" property="brandcode" jdbcType="VARCHAR" />
    <result column="proTotal" property="prototal" jdbcType="BIGINT" />
    <result column="proNum" property="pronum" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="BIGINT" />
    <result column="expressNo" property="expressno" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_id, order_type, order_tIme, create_time, skuNo, brandName, brandCode, proTotal, 
    proNum, price, expressNo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.itcast.ssm.po.Test2Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from test2
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from test2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.itcast.ssm.po.Test2Example" >
    delete from test2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.Test2" >
    insert into test2 (id, order_id, order_type, 
      order_tIme, create_time, skuNo, 
      brandName, brandCode, proTotal, 
      proNum, price, expressNo
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, #{orderType,jdbcType=VARCHAR}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{skuno,jdbcType=BIGINT}, 
      #{brandname,jdbcType=VARCHAR}, #{brandcode,jdbcType=VARCHAR}, #{prototal,jdbcType=BIGINT}, 
      #{pronum,jdbcType=BIGINT}, #{price,jdbcType=BIGINT}, #{expressno,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.Test2" >
    insert into test2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderTime != null" >
        order_tIme,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="skuno != null" >
        skuNo,
      </if>
      <if test="brandname != null" >
        brandName,
      </if>
      <if test="brandcode != null" >
        brandCode,
      </if>
      <if test="prototal != null" >
        proTotal,
      </if>
      <if test="pronum != null" >
        proNum,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="expressno != null" >
        expressNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="skuno != null" >
        #{skuno,jdbcType=BIGINT},
      </if>
      <if test="brandname != null" >
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="brandcode != null" >
        #{brandcode,jdbcType=VARCHAR},
      </if>
      <if test="prototal != null" >
        #{prototal,jdbcType=BIGINT},
      </if>
      <if test="pronum != null" >
        #{pronum,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=BIGINT},
      </if>
      <if test="expressno != null" >
        #{expressno,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.itcast.ssm.po.Test2Example" resultType="java.lang.Integer" >
    select count(*) from test2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update test2
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderTime != null" >
        order_tIme = #{record.orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.skuno != null" >
        skuNo = #{record.skuno,jdbcType=BIGINT},
      </if>
      <if test="record.brandname != null" >
        brandName = #{record.brandname,jdbcType=VARCHAR},
      </if>
      <if test="record.brandcode != null" >
        brandCode = #{record.brandcode,jdbcType=VARCHAR},
      </if>
      <if test="record.prototal != null" >
        proTotal = #{record.prototal,jdbcType=BIGINT},
      </if>
      <if test="record.pronum != null" >
        proNum = #{record.pronum,jdbcType=BIGINT},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=BIGINT},
      </if>
      <if test="record.expressno != null" >
        expressNo = #{record.expressno,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update test2
    set id = #{record.id,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=BIGINT},
      order_type = #{record.orderType,jdbcType=VARCHAR},
      order_tIme = #{record.orderTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      skuNo = #{record.skuno,jdbcType=BIGINT},
      brandName = #{record.brandname,jdbcType=VARCHAR},
      brandCode = #{record.brandcode,jdbcType=VARCHAR},
      proTotal = #{record.prototal,jdbcType=BIGINT},
      proNum = #{record.pronum,jdbcType=BIGINT},
      price = #{record.price,jdbcType=BIGINT},
      expressNo = #{record.expressno,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.Test2" >
    update test2
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        order_tIme = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="skuno != null" >
        skuNo = #{skuno,jdbcType=BIGINT},
      </if>
      <if test="brandname != null" >
        brandName = #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="brandcode != null" >
        brandCode = #{brandcode,jdbcType=VARCHAR},
      </if>
      <if test="prototal != null" >
        proTotal = #{prototal,jdbcType=BIGINT},
      </if>
      <if test="pronum != null" >
        proNum = #{pronum,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="expressno != null" >
        expressNo = #{expressno,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.Test2" >
    update test2
    set order_id = #{orderId,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=VARCHAR},
      order_tIme = #{orderTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      skuNo = #{skuno,jdbcType=BIGINT},
      brandName = #{brandname,jdbcType=VARCHAR},
      brandCode = #{brandcode,jdbcType=VARCHAR},
      proTotal = #{prototal,jdbcType=BIGINT},
      proNum = #{pronum,jdbcType=BIGINT},
      price = #{price,jdbcType=BIGINT},
      expressNo = #{expressno,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>